nameOverride: "catalog"
image:
  repository: devopsflow999/catalog
  tag: "test2"
service:
  port: 3001
  targetPort: 3001
env:
  - name: PGUSER
    value: appuser
  - name: PGPASSWORD
    value: appuser
  - name: PGDATABASE
    value: mv100db
  - name: PGHOST
    value: postgres
  - name: PGPORT
    value: "5432"
  - name: REDIS_URL
    value: redis://redis:6379
  - name: KAFKA_BROKERS
    value: kafka:9092
  - name: JWT_SECRET
    value: supersecretkey
  - name: PORT
    value: "3001"
