nameOverride: "cart"
namespace: mv100

image:
  repository: devopsflow999/cart
  tag: "test1"
  pullPolicy: IfNotPresent

service:
  port: 3002
  targetPort: 3002
  type: ClusterIP

replicaCount: 1

env:
  - name: PGUSER
    value: appuser
  - name: PGPASSWORD
    value: appuser
  - name: PGDATABASE
    value: mv100db
  - name: PGHOST
    value: postgres
  - name: PGPORT
    value: "5432"
  - name: REDIS_URL
    value: redis://redis:6379
  - name: KAFKA_BROKERS
    value: kafka:9092
  - name: JWT_SECRET
    value: supersecretkey
  - name: PORT
    value: "3002"
