apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: mv100-gateway
  namespace: mv100
spec:
  selector:
    istio: ingressgateway
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    - "*.localdev.me"
